# In addition to requirements.txt
types-pytz~=2024.2.0
types-requests~=2.32.0
black~=24.10.0
mypy~=1.13.0
prospector~=1.13.0
tox~=4.23.0
bandit~=1.7.0
setuptools~=75.6.0
schemathesis~=3.38.0
yamllint~=1.35.0
